.container {
    max-width: 700px;
    margin: 50px auto;
    text-align: left;
    font-family: sans-serif;
    background-color: lightblue;
}

form {
    border: 1px solid #1A33FF;
    background: #ecf5fc;
    padding: 40px 50px 90px;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

label {
    font-weight: 600;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}
.responsive {
    width: 100%;
    height:70px;
  }

  footer {
    background:#eee;
    padding:20px;
    text-align:center;
}
